.snowflake-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  overflow: hidden;
}

.snowflake {
  position: absolute;
  top: -2vh;
  opacity: 0.8;
  user-select: none;
  animation: fall linear infinite;
}

.snowflake-sm {
  font-size: 10px;
}

.snowflake-md {
  font-size: 1.5em;
}

.snowflake-lg {
  font-size: 2.25em;
}

@keyframes flickr {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

@keyframes fall {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(20vw, 110vh) rotate(360deg);
  }
}
